.navbar {
  border-radius: 0;
  background-color: #3333FF;
}
.navbar h1 {
  color: #FFFFFF;
}
.float-right {
  float: right;
}
.sentiment-map {
  float: left;
  height: 600px;
  width: 1087.5px;
}
.sentiment-chart {
  float: left;
  height: 150px;
  width: 900px;
}
.issue-list {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
}
.issue-list li {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  background-size: contain;
  float: left;
  border: 5px solid #FFFFFF;
  margin: 5px;
}
.issue-list .active {
  border: 5px solid #e31818;
}
.issue-list #drugs {
  background-image: url('/images/topics/drugs.png');
}
.issue-list #healthcare {
  background-image: url('/images/topics/healthcare.png');
}
.issue-list #immigration {
  background-image: url('/images/topics/immigration.png');
}
.issue-list #education {
  background-image: url('/images/topics/education.png');
}
.issue-list #war {
  background-image: url('/images/topics/war.png');
}
.issue-list #economy {
  background-image: url('/images/topics/economy.png');
}
.issue-list #general {
  background-image: url('/images/topics/general.png');
}
.candidate-portrait {
  float: left;
  width: 150px;
}
.candidate-portrait img {
  width: 150px;
  height: 150px;
}
.candidate-section {
  margin: 25px;
}
